#app_bar {
  height: 70px;
  background-color: aquamarine;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  column-gap: 30px;
}

label {
  margin-right: 10px;
}

select {
  height: 25px;
  width: 85px;
}

#add_item {
  display: flex;
  justify-content: flex-end; /* Aligns the button to the far right */
  flex-grow: 1;
}

#add_item_button {
  font-size: 14px; /* Optional: Adjusts font size */
  cursor: pointer; /* Adds a pointer cursor on hover */
}
